.hero--prices {
    background: #5235E8;
}

.prices--li {
    color: #FFFFFF;
}

.wrapper--prices--content {
    background: #5235E8;
}

.prices--content--main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1120px;
    min-height: 264px;

}

.prices--content--headline {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 738px;
    min-height: 124px;
    background: #5235E8;
}

.content--headline--title {
    color: #DAF727;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.56px;
    text-transform: uppercase;
}

.content--headline--subtitle {
    color: #FFF;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.32px;
}


/*wrapper--card--content*/

.card--content--main {
    display: flex;
    justify-content: space-between;
    max-width: 1120px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.price--coin--content--card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;
    min-width: 208px;
    min-height: 158px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 20px 80px 0px rgba(82, 53, 232, 0.10);

}

.price--coin--crypto {
    display: flex;
    gap: 12px;
}

.price--coin--crypto--info--title {
    color: #0E0637;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0.08px;
}

.price--coin--crypto--info--subtitle {
    color: #9C9CAB;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0.06px;
}

.price--coin--change {
    display: flex;
    gap: 8px;
}

.price--coin--change--title {
    color: #0E0637;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 155%;
}

.price--coin--change--subtitle {
    display: flex;
    padding: 4px 6px;
    align-items: center;
    gap: 4px;
    border-radius: 100px;
    border: 1px solid #DAFBEF;
    background: #ECFDF7;
}

@media (max-width: 1024px) {
    .card--content--main {
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .price--coin--content--card {
        max-width: 208px;
    }

    .table--prices--MarketCap {
        display: none;
    }

    .table--prices--body--MarketCap {
        display: none;
    }
}

/*wrapper--table--prices*/

.table--prices--main {
    max-width: 1120px;
    padding-bottom: 100px;
}

.table--prices--head {

    height: 48px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #F9F9FA;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.table--prices--Name {
    width: 200px;
    padding: 0 24px;
    color: #717184;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}

.table--prices--Price {
    width: 100px;
    padding: 0 14px;
    color: #717184;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}

.table--prices--MarketCap {
    width: 116px;
    padding: 0 24px;
    color: #717184;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}

.table--prices--Change {
    width: 92px;
    padding: 0 24px;
    color: #717184;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}

.table--prices--Last{
    width: 228px;
    padding: 0 24px;
    color: #717184;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}

.table--prices--Action {
    width: 156px;
    padding: 0 24px;
    color: #717184;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
}

.table--prices--body--name--img img {
    width: 40px;
}

.table--prices--body {

}

.table--prices--card {
    min-height: 64px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E3E3E8;
}

.table--prices--body--name {
    display: flex;
    gap: 12px;
    width: 200px;
    padding: 0 24px;
}

.table--prices--body--Price {
    width: 100px;
    padding: 0 24px;
}

.table--prices--body--MarketCap {
    width: 116px;
    padding: 0 24px;
}

.table--prices--body--Change {
    width: 92px;
    padding: 0 24px;
}

.table--prices--body--change--percent {
    width: 60px;
    display: flex;
    padding: 4px 6px;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid #DAFBEF;
    background: #ECFDF7;
}

.table--prices--body--change--percent-2 {
    width: 60px;
    display: flex;
    padding: 4px 6px;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    border-radius: 100px;
    border: 1px solid #FED7E0;
    background: #FFEBF0;
}

.table--prices--body--Last{
    width: 228px;
    padding: 0 24px;
}

.table--prices--body--Action {
    max-width: 156px;
    padding: 0 24px;
}

.table--prices--body--name--info--title {
    color: #131316;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 145%; /* 20.3px */
}

.table--prices--body--name--info--subtitle {
    color: #9C9CAB;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0.06px;
}

.table--prices--body--Price {
    color: #42424D;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.table--prices--body--MarketCap {
    color: #42424D;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.table--prices--body--change--percent {
    color: #11CF8B;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0.06px;
}

.table--prices--body--change--percent-2 {
    color: #FB3766;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 16.2px */
    letter-spacing: 0.06px;
}

.table--prices--body--Action--trade {
    width: 154px;
    height: 39px;
    border-radius: 8px;
    background: #5235E8;
    cursor: pointer;
    color: #FFF;
    font-feature-settings: 'ss06' on;
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 145%;
    border: none;
}

@media (max-width: 878px) {
    .table--prices--head {
        justify-content: center;
    }

    .table--prices--card {
        justify-content: center;
    }

    .table--prices--Last {
        display: none;
    }

    .table--prices--MarketCap {
        display: none;
    }

    .table--prices--body--MarketCap {
        display: none;
    }



    .table--prices--body--Last {
        display: none;
    }

    .table--prices--body--name {
        min-width: 150px;
    }


}


@media (max-width: 644px) {
    .table--prices--card {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .table--prices--body--name,
    .table--prices--body--Action,
    .table--prices--body--Price{
        padding: 0;

    }

    .table--prices--Name,
    .table--prices--Price,
    .table--prices--Action {
        padding: 0;
        text-align: center  ;
    }

    .table--prices--body--Action--trade {
        width: 60px;
    }

    .table--prices--Change {
        display: none;
    }

    .table--prices--body--Change {
        display: none;
    }
}
